model:
  base_learning_rate: 1.5e-05
  target: ldm.models.diffusion.ddpm.HyperLatentDiffusionTrainer
  params:
    loss_type: "l2"
    ckpt_path: PATH/TO/PRETRAINED/STABLE/DIFFUSION/MODEL.ckpt
    spectral_model_config: "configs/spectral_model.yaml"
    spectral_model_ckpt: PATH/TO/SPECTRAL/MODEL/CHECKPOINT.ckpt
    parameterization: "v"
    linear_start: 0.00085
    linear_end: 0.0120
    num_timesteps_cond: 1
    log_every_t: 200
    timesteps: 1000
    first_stage_key: "jpg"
    cond_stage_key: "txt"
    image_size: 32
    channels: 4
    cond_stage_trainable: false
    conditioning_key: concat-crossattn
    monitor: val/loss
    scale_factor: 0.18215
    scale_factor_hsi: 0.18215                  # 0.25 to change the std to 1
    use_ema: False # we set this to false because this is an inference only config
    noise_strength: 0.9

    scheduler_config:
      target: ldm.modules.lr_scheduler.IterExponential
      params:
        total_iter_length: 25000
        final_ratio: 0.01
        warmup_steps: 100

    unet_config:
      target: ldm.modules.diffusionmodules.openaimodel.UNetModel
      params:
        use_checkpoint: True
        use_fp16: False
        image_size: 32 # unused
        in_channels: 8
        out_channels: 4
        model_channels: 320
        attention_resolutions: [ 4, 2, 1 ]
        num_res_blocks: 2
        channel_mult: [ 1, 2, 4, 4 ]
        num_head_channels: 64 # need to fix for flash-attn
        use_spatial_transformer: True
        use_linear_in_transformer: True
        transformer_depth: 1
        context_dim: 1024
        legacy: False

    first_stage_config:
      target: ldm.models.autoencoder.AutoencoderKL
      params:
        embed_dim: 4
        monitor: val/rec_loss
        ddconfig:
          #attn_type: "vanilla-xformers"
          double_z: true
          z_channels: 4
          resolution: 256
          in_channels: 3
          out_ch: 3
          ch: 128
          ch_mult:
          - 1
          - 2
          - 4
          - 4
          num_res_blocks: 2
          attn_resolutions: []
          dropout: 0.0
        lossconfig:
          target: torch.nn.Identity

    cond_stage_config:
      target: ldm.modules.encoders.modules.FrozenOpenCLIPEmbedder
      params:
        freeze: True
        layer: "penultimate"

data:
  target: main.DataModuleFromConfig
  params:
      batch_size: 1
      num_workers: 0
      wrap: False
      train:
          target: ldm.data.ntire_gen.NTIRETrain
          params:
            data_root: PATH/TO/NTIRE22/DATASET/
            crop_size: 512
            stride: 512
            arg: True

      validation:
          target: ldm.data.ntire_gen.NTIREValidate
          params:
            data_root: PATH/TO/NTIRE22/DATASET/



